@import "../../../colors";

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form__item {
  width: 100%;
}

.panel__form {
  text-align: center;
}

.form__title {
  h4 {
    color: $text-color;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  p {
    color: $text-color;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.form__container {
  margin-top: 40px;
}

::ng-deep {
  .mat-mdc-form-field-error {
    display: block;
    position: absolute;
    margin-top: -22px;
    margin-left: 4px;

    &[_ngcontent-ng-c1679319657] {
      margin-top: 0px;
    }
  }
  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    cursor: url(../../../assets/icons/mini-pointer-2.png), auto;
  }
  .mat-mdc-raised-button .mat-mdc-button-touch-target {
    cursor: url(../../../assets/icons/mini-pointer-2.png), auto;
  }
  .list__requirement[_ngcontent-ng-c2532552156] span[_ngcontent-ng-c2532552156] {
    cursor: url(../../../assets/icons/mouse-hover.png), auto;
  }
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    cursor: url(../../../assets/icons/mouse-hover.png), auto;
  }
}

.form__button--disabled {
  margin-top: 30px;
}

@media screen and (max-width: 575px) {
  .form__button {
    width: 100%;
  }
}
