<section class="panel-loading" *ngIf="isLoading">
  <mat-spinner color="primary" diameter="50"></mat-spinner>
</section>
<section class="panel-form" *ngIf="!isLoading">
  <div class="title-form">
    <h4>Create your account</h4>
    <p>Fill the requested field to create your account:</p>
  </div>

  <div class="form-container">

    <form class="example-form" [formGroup]="registerForm" #content (submit)="submit()">
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>

        <input type="email" matInput color="primary" formControlName="email" required>
        <mat-error *ngIf="email?.errors?.['pattern']">
          Please enter a valid email address
        </mat-error>

        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <app-password-requirement (passwordValueChanged)="getPassword($event, $event)"></app-password-requirement>
    </form>

  </div>

  <button (click)="createAccount()"  class="custom-btn" mat-raised-button color="primary" type="submit">CREATE MY ACCOUNT</button>

</section>
