@import "../../../colors";
@import "../../../styles.scss";

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form__item {
  width: 100%;
}

.panel__form {
  text-align: center;
}

.form__title {
  h4 {
    color: $text-color;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  p {
    color: $text-color;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.form__button {
  width: 500px;
  padding: 6px 6px 6px 8px;
  margin-top: 24px;
}

.form__button--disabled:disabled {
  opacity: 30%;
  color: $text-color;
  background-color: $accent-color;
}

.panel-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .form__button {
    width: 100%;
  }
}
