<app-navbar></app-navbar>

<section class="panel__loading" *ngIf="isLoading">
  <mat-spinner color="primary" diameter="50"></mat-spinner>
</section>

<section class="password-reset" *ngIf="!isLoading">
  <div class="password-reset__title">
    <h4>Password reset</h4>
    <p>Enter your new password in the fields below to regain access to the game.</p>
  </div>

  <div class="password-reset__form__container">
    <form class="password-reset__form">
      <app-password-requirement (passwordValueChanged)="getPassword($event, $event)"></app-password-requirement>
    </form>
  </div>

  <button mat-button [disabled]="!resetPasswordForm.valid" (click)="resetPassword()" class="password-reset__button"
    mat-raised-button color="primary" type="submit">SAVE NEW PASSWORD</button>
</section>
