@import "../../../colors";

.password-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;

  &__title {
    h4 {
      color: $text-color;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.12px;
    }

    p {
      color: $text-color;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__form {
    width: 500px;
  }

  &__item {
    width: 100%;

  }

  &__button {
    width: 500px;
    height: 32px;
    padding: 6px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 229px;
  }
}

@media screen and (max-width: 575px) {
  .password-reset__button {
    width: 100%;
  }
}
