@use "@angular/material" as mat;
@include mat.core();
@import '../../../theme.scss';

.primary-button {
  width: 529px;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

p {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 39px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
