<nav>
  <img class="logo" src="../../../assets/icons/logotipo.svg" alt="logotipo">
  <button> <img src="../../../assets/icons/icon-question-mark.svg" alt=""> how to play</button>
</nav>

<main>
  <h1>Welcome to ReviewReveal</h1>

  <p>Log in to discover new movies by playing</p>

  <form action="">
    <input type="email" name="" id="" placeholder="email">
    <input type="password" name="" id="" placeholder="password">
  </form>

  <div id="password">

    <!-- <div id="remember">
      <input type="checkbox" name="" id="checkbox1">
      <label for="checkbox1">Remember me</label>
    </div>'' -->

    <a href="#">Forgot password?</a>

  </div>

  <button type="submit" id="primary">log in</button>

  <footer>
    <p>Don't have an account?</p>
    <button>sign up now</button>
  </footer>

</main>
