<div class="modal__title">
  <h1 mat-dialog-title>Forgot your password?</h1>
  <button mat-button (click)="closeModal()">X</button>
</div>

<div class="modal__input" mat-dialog-content>
  <p>Keep calm, just fill the requested field to recover your password:</p>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div class="modal__buttons" mat-dialog-actions>
  <button class="button__cancel" mat-button (click)="closeModal()">CANCEL</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>SEND RECOVERY E-MAIL</button>
</div>
