.modal {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      cursor: url(../../../assets/icons/mouse-hover.png), auto !important;
    }
    button {
      background-color: transparent !important;

      img {
        cursor: url(../../../assets/icons/mini-pointer-2.png), auto !important;
      }
    }
  }

  &__input {
    display: grid;
    gap: 10px;
    cursor: url(../../../assets/icons/mouse-hover.png), auto !important;

    mat-form-field {
      width: 100%;

      input {
        cursor: url(../../../assets/icons/mouse-hover.png), auto !important;
      }

    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;

    .button__cancel {
      background-color: transparent !important;
    }
  }
}

::ng-deep .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
  cursor: url(../../../assets/icons/mini-pointer-2.png), auto !important;
}
