.modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: transparent !important;
  }
}

.modal__input {
  display: grid;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.modal__buttons {
  display: list-item;
  text-align: right;
  margin-top: 80%;

  .button__cancel {
    background-color: transparent !important;
  }
}
