<div class="modal__title">
  <h1 mat-dialog-title>Forgot your password?</h1>
  <button mat-button (click)="closeModal()">X</button>
</div>

<div class="modal__input" mat-dialog-content>
  <p>Keep calm, just fill the requested field to recover your password:</p>
  <form [formGroup]="forgotPasswordForm" (submit)="submit()">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input type="email" formControlName="email" placeholder="e-mail" matInput required>
      <mat-error *ngIf="email?.errors?.['pattern']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div class="modal__buttons" mat-dialog-actions>
  <button class="button__cancel" mat-button (click)="closeModal()">CANCEL</button>
  <button mat-button type="submit" (click)="forgotPassword()" [disabled]="!forgotPasswordForm.valid" mat-dialog-close
    cdkFocusInitial>SEND RECOVERY E-MAIL</button>
</div>
