@import '../../../colors';

.pop-up {
  &__game {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    max-width: 340px;

    &__title {
      background-color: rgba(255, 255, 255, 0.12);
      padding: 14px 16px 0px 16px;
      display: flex;
      align-items: center;
      align-self: stretch;

      h2 {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        @media screen and (max-width: 483px) {
          text-align: center;
          width: 100%;
        }
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      background-color: $background-color;
    }

    &__reply {
      background-color: rgba(255, 255, 255, 0.12);
      color: $text-color;
      padding: 9px;

      &__text {
        display: flex;
        padding: 10px 16px 20px 16px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        @media screen and (max-width: 483px) {
          text-align: center;
        }

        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.25px;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      button {
        color: $text-color;
      }

      &__see-more {
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.12);
      }

      @media screen and (max-width: 483px) {
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}

::ng-deep .mat-mdc-button .mat-mdc-button-persistent-ripple::before {
  background-color: transparent !important;
}
