<section class="pop-up__game">
  <div class="pop-up__game__title">
    <h2>{{ title }}</h2>
  </div>
  <div class="pop-up__game__image">
    <img src="{{ imageUrl }}{{ data.posterPath }}" alt="Image from a film" />
  </div>

  <div class="pop-up__game__reply">
    <div class="pop-up__game__reply__text">
      <p>The movie is "{{ data.title }}" from {{ data.releaseDate | date: 'yyyy'}}</p>
    </div>
    <div  class="pop-up__game__buttons">
      <button (click)="close()" mat-button class="pop-up__game__buttons__close">CLOSE</button>
      <button (click)="seeMoreMovie()" class="pop-up__game__buttons__see-more" mat-stroked-button>SEE MORE</button>
      <button (click)="next()" mat-flat-button color="primary">{{ buttonLabel }}</button>
    </div>
  </div>
</section>
