<app-navbar></app-navbar>


<section class="page__game">
  <div class="page__game__challenge">
    <div class="page__game__header">
      <h2 class="page__game__title">Guess the review!</h2>
      <p class="page__game__record">Your record: 33 movies</p>
    </div>
    <h3 class="page__game__challenge__title">Not the recognition it deserves!!!</h3>
    <p>
      Typical Peter Jackson, however gonna watch the even longer extended 3 hours 20 minutes edition in 4k, not watched in years but the picture is
      epic apart from it being too warm for my liking. The sound is the unusual DTS-X high def sound and already is gorgeous!However enough of the
      technical borefest hahaha... this film for me is stunningly shot... some of the shots of the city are incredible. It really is a grand film and
      for me better than his LOTR trilogy which I may well resist soon.However its the cinematography and sets that set this film apart from most
      films... integrated so well with XGI which even in 4k is holding up well... stunning is all I can say, actually old school filming with modern
      techniques!Classic tale and story that recreates the original for the modern era. Even Jack Black is watchable but the stunning Naomi Watts is
      very very watchable hahaha.This film doesn't get the recognition it deserves!!! As an achievement in cinema alone its a 10/10. You want
      blockbusters that have a story and a smidge of empathy with the characters with possibly the greatest ending of all monster films ever... this
      is how you do it.Marvel and DC and all the other nonsense need to take a step back!!! This is how you combine live action, real sets and CGI
      into an epic tale...
    </p>
  </div>
</section>
