<app-navbar></app-navbar>

<div class="game">
  <section class="game__page__challenge">
    <div class="game__page__challenge__header">
      <div class="game__page__challenge__header__wrap">
        <h2 class="game__page__challenge__header__wrap__title">Guess the review!</h2>
        <p class="game__page__challenge__header__wrap__record">
          Your record: <span class="movies">{{ gameData?.record }}</span>
        </p>
      </div>
    </div>

    <div class="game__page__challenge__review">
      <h3 class="game__page__challenge__review__title">{{ review?.title }}</h3>
      <p class="game__page__challenge__review__text">
        {{ review?.text }}
      </p>
    </div>
  </section>

  <section class="drop-down-section">
    <app-drop-down-section (guessTitleChanged)="sendReply($event)"></app-drop-down-section>
  </section>
</div>
