<section class="pop-up__correct">
  <div class="pop-up__correct__title">
    <h2>{{ title }}</h2>
  </div>
  <div class="pop-up__correct__image">
    <img [src]="imageUrl"  alt="Image from a film" />
  </div>

  <div class="pop-up__correct__reply">
    <div class="pop-up__correct__reply__text">
      <p>{{ movieName }}</p>
    </div>
    <div class="pop-up__correct__buttons">
      <button mat-flat-button>CLOSE</button>
      <button class="pop-up__correct__buttons__see-more" mat-raised-button>SEE MORE</button>
      <button mat-flat-button color="primary">{{ buttonLabel }}</button>
    </div>
  </div>
</section>
