<section>

  <div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" #password (input)="validatePassword(password.value); comparePassword(password.value, confirmPassword.value)"
        [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error>
      <mat-label>Your password must have:</mat-label>
      <ul>
        <li [ngClass]="passwordSize ? 'valid' : 'invalid'">8 Characters</li>
        <li [ngClass]="upperCase ? 'valid' : 'invalid'">1 Uppercase character</li>
        <li [ngClass]="specialChar ? 'valid' : 'invalid'">1 Special character</li>
      </ul>
    </mat-error>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Confirm your password</mat-label>
      <input matInput type="password" #confirmPassword (input)="comparePassword(password.value, confirmPassword.value)"
        [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="!samePassword">Passwords do not match</mat-error>
  </div>

</section>
