@import '../../../colors';

.section-required {
  display: flex;
  flex-direction: column;

  &__item-password {
    &__form-item {
      width: 100%;
    }

    &__form-item__eyes {
      color: $text-color;
      cursor: url('../../../assets/icons/mini-pointer-2.png'), auto;
    }
  }

  &__item-requirement {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid $secondary-background-color;
    margin-bottom: 22px;

    mat-label {
      color: $password-requirements-color;
      cursor: url(../../../assets/icons/mouse-hover.png), auto;
    }

    &__list-requirement {
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
      padding: 0;
      margin: 0;

      mat-icon {
        font-size: 20px;
        height: 20px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      span {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.07px;
      }

      .valid {
        color: $success-text-color;
      }

      .invalid {
        color: $error-text-color;
      }
    }
  }

  &__confirmPassword {
    text-align: left;

    &__form-item {
      width: 100%;

      &__eyes {
        color: $text-color;
        cursor: url('../../../assets/icons/mini-pointer-2.png'), auto;
      }
    }

    .form__msg__error {
      color: $error-text-color;
    }
  }
}
