.valid {
  color: green;
}

.invalid {
  color: red;
}

.list-requirement {
  list-style: none;
}

.list-requirement mat-icon {
  font-size: 20px;
}

.list-requirement li {
  display: flex;
  align-items: center;
}
