<section class="panel-required">

  <div class="section-password">
    <mat-form-field class="example-full-width">
      <mat-label>Insert your new password</mat-label>
      <input class="teste" matInput type="password" #password
        (input)="validatePassword(password.value); comparePassword(password.value, confirmPassword.value)"
        [type]="hide ? 'password' : 'text'" required>
      <button class="icon-eyes" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="requirement">
    <mat-label>Your password must have:</mat-label>
    <ul class="list-requirement">
      <li [ngClass]="passwordSize ? 'valid' : 'invalid'">
        <mat-icon>{{ passwordSize ? 'check' : 'close'}}</mat-icon>
        <span>8 Characters</span>
      </li>

      <li [ngClass]="upperCase ? 'valid' : 'invalid'">
        <mat-icon>{{ upperCase? 'check' : 'close'}}</mat-icon>
        <span>1 Uppercase character</span>
      </li>

      <li [ngClass]="specialChar ? 'valid' : 'invalid'">
        <mat-icon>{{ specialChar ? 'check' : 'close'}}</mat-icon>
        <span>1 Special character</span>
      </li>
    </ul>
  </div>

  <div class="section-confirmPassword">
    <mat-form-field class="example-full-width">
      <mat-label>Confirm your new password</mat-label>
      <input matInput type="password" #confirmPassword (input)="comparePassword(password.value, confirmPassword.value)"
        [type]="hide ? 'password' : 'text'" required>
      <button class="icon-eyes" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error class="msg-error" *ngIf="!samePassword">Passwords do not match</mat-error>
  </div>

</section>
