
@import '../../../colors';
// @import '../../../theme';
@import '../../../spacing';

.login-page {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__width {

    width: 100%;

    // tirei a animação da barrinha roxa embaixo do input, seguindo o figma, se quiser de volta é só coomentar as variáveis abaixo
    --mdc-filled-text-field-active-indicator-color: #6002ee;
    --mdc-filled-text-field-hover-active-indicator-color: #6002ee;

    &__icon {
      padding: 12px;
      box-sizing: content-box;
      color: $text-color;
      cursor: url('../../../assets/icons/mini-pointer-2.png'), auto;
    }

    &__label {
      color: $text-color;
    }

    &__button {
      width: 500px;
      padding: 6px 6px 6px 8px;
      background-color: $accent-color;
      color: $text-color;
      font-weight: 500;
      size: 14px;
      border: none;
    }

    &__button:hover {
      background-color: #5300e8;
    }

    &__button:active {
      background-color: #3d00e0;
      border: 1px solid #767676;
      height: 27px;
      line-height: 1px;
    }

  }

  &__width:hover {
    cursor: url('../../../assets/icons/mouse-hover.png'), auto;
  }

  ::ng-deep {

    .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input {
      cursor: url('../../../assets/icons/mouse-hover.png'), auto;
    }

    .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
        cursor: url('../../../assets/icons/mouse-hover.png'), auto;
    }

  }

}

@media screen and (max-width: 425px) {

  .login-page {

    &__width {
      width: 100%;

      &__button {
        width: 100%;
      }

    }

  }

}
