<app-navbar></app-navbar>

<form class="login-page">
  <mat-form-field class="login-page__width">
    <mat-label class="login-page__width__label">Email</mat-label>
    <input class="email login-page__width__email-input" type="email" matInput [formControl]="emailFormControl">
    <mat-error class="login-page__width__error" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error class="login-page__width__error" *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="login-page__width">
    <input class="login-page__width__password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <mat-icon class="login-page__width__icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <section class="checkbox-page" id="check">
    <mat-checkbox class="checkbox-page__checkbox"> Remember me </mat-checkbox>
    <button (click)="openModalForgot()" class="checkbox-page__password-recovery">Forgot Password?</button>
  </section>

  <button class="login-page__width__button form__button" mat-raised-button color="primary" [disabled]="emailFormControl.invalid" type="submit">LOG IN</button>
</form>

<footer>
  <p>Don't have an account?</p>
  <a routerLink="/sign-up">SIGN UP NOW</a>
</footer>
