<app-navbar></app-navbar>

<section class="start__game__section">
  <h1 class="start__game__section__title">Review reveal the movie</h1>
  <p class="start__game__section__text">A game where you must guess the movie based on reviews written by users.</p>
  <p class="start__game__section__text__end">Find out how far you can go:</p>

  <div class="start__game__section__button">
    <button (click)="startGame()" mat-raised-button color="primary" type="submit"><mat-icon>play_circle_outline</mat-icon>START GAME</button>
  </div>
</section>
