<div class="pop-up-body" [style.transform]="'translateX(' + myService.deslocamento + 'px)'">
  <nav class="pop-up-nav">
    <h1>How to play?</h1>
    <img src="../../../assets/icons/icon-close.svg" (click)="mudarDeslocamento()" alt="" (keydown)="handleKeyDown($event)" tabindex="0">
  </nav>

  <main class="pop-up-main">
  <p>
    Review Reveal is a game where you have to guess the movie based on user reviews.
  <br>
  <br>
    When you start the game, you will be presented with a review written by a user on IMDb.
  <br>
  <br>
    Your task is to carefully read the review and, based on its content, make an informed guess about which movie it is referring to.
  <br>
  <br>
    Each correct guess earns you a new review to continue the game, you start with 5 lives, and every mistake costs you one life. <span>If you run out of lives, you lose the game.</span>
</p>
  </main>
  <footer class="pop-up-footer">
    <p>Lives:</p>
    <img src="../../../assets/icons/icon-filled-heart.svg" alt="vidas restantes">
    <img src="../../../assets/icons/icon-filled-heart.svg" alt="vidas restantes">
    <img src="../../../assets/icons/icon-empty-heart.svg" alt="vidas perdidas">
    <img src="../../../assets/icons/icon-empty-heart.svg" alt="vidas perdidas">
    <img src="../../../assets/icons/icon-empty-heart.svg" alt="vidas perdidas">

  </footer>
</div>
