@import '../../../colors';
@import '../../../spacing';

.pop-up-body {
  color: $text-color;
  position: absolute;
  top: 0;
  // right: -452px;
  right: 0px;
  width: 404px;
  height: 100%;
  padding: 18px 24px;
  background-color: #25252f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-up-nav {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pop-up-nav img {
  width: 24px ;
}

.pop-up-nav h1 {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  margin: 18px 0;
}

.pop-up-main {
  position: relative;
  width: 100%;
}

.pop-up-main p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.pop-up-main span {
  color: $error-text-color;
}

.pop-up-footer {
  border: 1px solid #373744;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pop-up-footer p {
  margin: 0px;
  padding: 16px 0;
}

@media screen and (max-width: 452px) {
  .pop-up-body {
    left: 0;
    right: 0;
    // right: -452px;
    width: 100vw;
    padding: 18px 24px;

  }
}
