<nav [ngClass]="{ 'login-page-navbar': isLoginPage(), 'sign-up-page-navbar': isSignUpPage(), 'start-game-page': isStarGamePage()}">

  <img class="navbar__logo" src="../../../../assets/icons/logotipo.svg" alt="logotipo">

  <div class="right-icons">

      <a href="#" *ngIf="isLoginPage() || isStarGamePage()" class="play"><img src="../../../../assets/icons/icon-question-mark.svg" alt="how to play"><span>HOW TO PLAY</span></a>

      <a href="#" *ngIf="isSignUpPage() || isStarGamePage()" class="logout"><img src="../../../../assets/icons/icon-out.svg" alt=""> </a>

  </div>

</nav>

