<nav [ngClass]="{ 'login-page-navbar': isLoginPage(), 'sign-up-page-navbar': isSignUpPage()}">

  <img class="navbar__logo" src="../../../../assets/icons/logotipo.svg" alt="logotipo">

  <div class="right-icons">

      <a *ngIf="isLoginPage()" class="play" (click)="moverParaEsquerda()" ><img src="../../../../assets/icons/icon-question-mark.svg"  alt="how to play"> HOW TO PLAY </a>

      <a href="#" *ngIf="isSignUpPage()" class="logout"><img src="../../../../assets/icons/icon-out.svg" alt=""> </a>

  </div>

</nav>
