@import "../../../../colors";

nav {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  width: 100%;
  margin-top: 40px;
}

.navbar__logo {
  height: 35px;
  margin: 0 0 0 40px;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.play {
  display: flex;
  text-decoration: none;
  color: $text-color;
  gap: 5px;
  border: 1px solid $text-color;
  padding: 8px;
  border-radius: 4px;
}

.logout {
  border: 1px solid $text-color;
  padding: 9px;
  border-radius: 4px;
  line-height: 1px;
}

.login-page-navbar {
  .right-icons{
    margin-bottom: 232.16px;
  }
}

.sign-up-page-navbar {
  margin-top: 120px;
  margin-bottom: 68px;
  .logout {
    display: none;

  }

  .navbar__logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .login-page-navbar {
    .play {
      font-size: 0;
      gap: 0;
    }
    img {
      margin-left: 2px;
    }
  }

}
