/* You can add global styles to this file, and also import other style files */


// Cores
$accent-color: #6200EE;
$success-text-color: #17C69C;
$error-text-color: #EE0056;
$text-color: #fff;
$background-color: #25252F;
$secondary-background-color: #373744;
;

// Espaçamento
$spacing-unit: 16px;
$padding: $spacing-unit / 2;
$margin: $spacing-unit;

// Fontes
$base-font-size: 16px;
$base-font: Roboto, "Helvetica Neue", sans-serif;
