<div class="drop-down-wrapper">
  <div class="upper-part">
    <div class="lives">

      <p>Lives:</p>
      <ng-container *ngFor="let item of lives">
        <img [src]="item ? '../../../assets/icons/icon-filled-heart.svg' : '../../../assets/icons/icon-empty-heart.svg'" alt="vidas restantes" />
      </ng-container>

      <p class="lives-number">x{{ gameData?.lives }}</p>
    </div>
    <p class="combo">Current combo: {{ gameData?.combo }}</p>
  </div>

  <div class="form-wrapper">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Guess the movie</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input type="text" placeholder="" aria-label="Number" matInput [formControl]="guessTitle" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button (click)="guessTitleChanged.emit(guessTitle.value || '')" mat-flat-button color="primary">GUESS</button>
  </div>
</div>
