
<div class="drop-down-wrapper">



  <form class="example-form">

    <div class="upper-part">
      <div class="lives">
        <p>Lives:</p>
        <img src="../../../assets/icons/icon-filled-heart.svg" alt="vidas restantes">
        <img src="../../../assets/icons/icon-filled-heart.svg" alt="vidas restantes">
        <img src="../../../assets/icons/icon-empty-heart.svg" alt="vidas perdidas">
        <img src="../../../assets/icons/icon-empty-heart.svg" alt="vidas perdidas">
        <img src="../../../assets/icons/icon-empty-heart.svg" alt="vidas perdidas">
      </div>
      <p class="combo">Current combo:</p>
    </div>

    <mat-form-field>
      <mat-label>Guess the movie</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput type="search" placeholder="" class="search-input">
    </mat-form-field>
    <button mat-flat-button color="primary">GUESS</button>
  </form>

</div>
